<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document HTML</title>
</head>
<body>
This template is automatically selected when asking for text/html and says <bold>{message}</bold>.
<hr/>
This page was created using the ! emmet : https://docs.emmet.io/cheat-sheet/
</body>
</html>
